@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


.cards-row{
  display:flex; background-color: white; margin-top:-8px; margin-bottom:64px; justify-content: center; padding-top:40px;
}

#row-1{
  /* position:relative; */
  left: -120px;
}
#row-2{
    position:relative;
  left: 120px;
}
.cards-portfolio {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: black;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 320px;
  min-width: 240px;
    max-height: 380px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  margin-left: 32px;
  margin-right: 32px;
}

.cards-portfolio * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.cards-portfolio img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  /* opacity: 0.75; */
}

.cards-portfolio .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.cards-portfolio .date span {
  display: block;
  line-height: 14px;
}

.cards-portfolio .date .month {
  font-size: 11px;
}

.cards-portfolio h3,
.cards-portfolio p {
  margin: 0;
  padding: 0;
}

.cards-portfolio h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.cards-portfolio .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.cards-portfolio a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.cards-portfolio:hover .hover,
.cards-portfolio.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.cards-portfolio:hover figcaption,
.cards-portfolio.hover figcaption {
  opacity: 0;
}

.cards-portfolio:hover .date,
.cards-portfolio.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
